body{
    margin:0;
    text-align:center;
    font-family:vardana;
    font-family: 'Merriweather', serif;
    font-size:1em;
    color:#40514E;
}
h1{
    margin-top:50px;  
    font-family: 'Parisienne', cursive;
    font-size:5.25rem;
    color: #66BFBF;
    padding-bottom:10px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #66BFBF;
    font-weight:bold;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
line-height: 2;
}
hr{
    border:dotted rgb(230, 228, 228) 6px;
    border-bottom: none;
    width:4%;
    margin:100px auto;
}
span{
    text-decoration: underline;
}
.top{
    background-color:#E4F9F5;
    padding-top:100px;
    position: relative;

}
.middle-container{
   margin:100px 0;
   
}
.top-cloud{
    width:150px;
     height:80px;
     position: absolute;
     right:350px;
     top:50px;
}
.bottom-cloud{
    width:150px;
     height:80px;
    position: absolute;
    left:300px;
    bottom:300px;

}
.mountain{
    width:600px;
     height:300px;
     padding-top:100px;
}
.myprofile{
    height:200px;
    width:200px;
}
.intro{
    width:35%;
    margin:auto;
}
.contact-message{
    width:40%;
    margin:40px auto 60px;
}
.my_skills{
    height:200px;
    width:200px;
    float: left;
    margin:0 30px 0 0;
}
.dance{
    width:200px;
    height:200px;
    float: right;
    margin:0 0 0 30px;
}
.skill-row{
    width:50%;
  margin:100px auto 100px auto;
  text-align:left;
}
.contact-message{
width:40%;
margin:40px auto 60px;

}
.btn{
    background:#11cdd4;
    background-image:-webkit-linear-gradient(top,#11cdd4,#11999e);
    background-image:-moz-linear-gradient(top,#11cdd4,#11999e);
    background-image:-ms-linear-gradint(top,#11cdd4,#11999e);
    background-image: -o-linear-gradient(top,#11cdd4,#11999e);
    background-image: linear-gradient(to bottom ,#11cdd4,#11999e);
    -webkit-border-radius:8;
    -moz-border-radius:8;
    border-radius :8px;
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    font-size:20px;
    padding:10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover{
    background:#30e3cb;
    background-image: -webkit-linear-gradient(top,#30e3cb,#2bc4ad);
    background-image: -moz-linear-gradient(top,#30e3cb,#2bc4ad);
    background-image:-o-linear-gradient(top,#30e3cb,#2bc4ad);
    background-image:linear-gradient(to bottom,#30e3cb,#2bc4ad);
    text-decoration: none;
}
.bottom-container{
    background-color: #66BFBF;
    padding:50px 0 20px;
}
a{
    color:#93ebdf;
    font-family: 'Montserrat', sans-serif;
    margin:10px 20px;
    text-decoration: none;
}
a:hover{
    color:#ffffff;
}
.copyright-message{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding:20px 0;
    width:100%;
}
